{% extends 'tennis-club.html' %}
{% load matches %}
{% load widget_tweaks %}

<!-- Dodatkowe CSS -->
{% block styles %}
<link rel="stylesheet" href="/static/css/add_match.css">
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="card card-add-match shadow-sm mx-auto">
    <div class="card-header text-center align-items-center bg-dark text-white">
            <h2 class="card-title font-2 mb-0 mx-4">Edytuj wynik meczu</h2>
        </div>
        <div class="card-body">
            <form method="post" id="form_edit_match" onsubmit="return validateForm()">
                {% csrf_token %}

                {% include 'matches/add_match/settings.html' %}

                <!-- Układ wyników -->
                <div class="text-center mb-4">
                    <!-- Gracz 1 / 3 -->
                    {% include 'matches/add_match/players.html' with leader='p1' friend='p3' form=form is_doubles=match.match_double %}

                    <!-- Siatka wyników -->
                    <div class="score-grid justify-content-center gap-1 mx-auto">
                        <!-- Etykiety setów -->
                        {% for set_num in "123" %}
                            <div class="fw-bold">Set {{ set_num }}</div>
                        {% endfor %}

                        <!-- Pola wyników gracza 1 -->
                        <div class="d-flex justify-content-center">{{ form.p1_set1|attr:"class:form-control-score" }}</div>
                        <div class="d-flex justify-content-center">{{ form.p1_set2|attr:"class:form-control-score" }}</div>
                        <div class="d-flex justify-content-center">{{ form.p1_set3|attr:"class:form-control-score" }}</div>

                        <!-- Separatory -->
                        {% for _ in "123" %}
                            <div class="vs-label">-</div>
                        {% endfor %}

                        <!-- Pola wyników gracza 2 -->
                        <div class="d-flex justify-content-center">{{ form.p2_set1|attr:"class:form-control-score" }}</div>
                        <div class="d-flex justify-content-center">{{ form.p2_set2|attr:"class:form-control-score" }}</div>
                        <div class="d-flex justify-content-center">{{ form.p2_set3|attr:"class:form-control-score" }}</div>
                    </div>

                    <!-- Gracz 2 / 4 -->
                    {% include 'matches/add_match/players.html' with leader='p2' friend='p4' form=form is_doubles=match.match_double %}
                </div>

                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="submit" class="btn btn-success px-5"><i class="bi bi-save-fill"></i> Zapisz zmiany</button>
                    <a href="{% url 'matches:matches_results' %}" class="btn btn-secondary px-5"><i class="bi bi-x-circle"></i> Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script> 
  function validateForm() {
    let scores = document.getElementsByClassName('form-control-score');
    let p1 = document.querySelector('select[name="p1"]');
    let p2 = document.querySelector('select[name="p2"]');
    let matchDoubleCheckbox = document.getElementById("id_match_double");

    let players = [];
    if (p1 && p1.value) players.push(p1.value);
    if (p2 && p2.value) players.push(p2.value);

    if (!p1.value || !p2.value) { // This check is always needed
        alert("Proszę wybrać graczy.");
        return false;
    }

    if (matchDoubleCheckbox) { // Only check if the checkbox exists
        if (matchDoubleCheckbox.checked) {
            let p3 = document.querySelector('select[name="p3"]');
            let p4 = document.querySelector('select[name="p4"]');
            if (!p3 || !p3.value || !p4 || !p4.value) {
                alert("Proszę wybrać graczy dla drużyny podwójnej.");
                return false;
            }
            players.push(p3.value, p4.value);
        }
    }
    
    let uniquePlayers = new Set(players);
    if (uniquePlayers.size !== players.length) {
        alert("Gracze muszą być unikalni. Proszę wybrać różnych graczy.");
        return false;
    }

    let filledScoresCount = 0;
    for (let i = 0; i < scores.length; i++) {
        // Sprawdzamy, czy wartość nie jest pusta i nie jest zerem (jako string)
        // To liczy tylko sety z faktycznie wprowadzonym wynikiem
        if (scores[i].value !== "" && scores[i].value !== "0") {
            filledScoresCount++;
        } 
        // Jeśli pole jest puste, ustawiamy jego wartość na 0 przed wysłaniem
        else if (scores[i].value === "") {
            scores[i].value = 0;
        }
    }
    
    if (filledScoresCount === 0) {
        alert(`Proszę wprowadzić wyniki dla przynajmniej 1 seta.`);
        return false;
    }

    return true;
  }
</script>
<script>
  $(document).ready(function() {
    $('.form-select-player').select2({
        theme: 'bootstrap-5',
        placeholder: 'Wyszukaj gracza',
        minimumResultsForSearch: 3
    });
  });
</script>
{% endblock %}