<div class="card card-activities">
  <div class="card-header bg-dark text-white">
    <h4 class="card-title text-center font-2 mb-0">Zarejestrowane Spotkania<br>{{match_type}}</h4>
  </div>
  <div class="card-body card-body-activities">
    <table class="table table-striped">
      <thead>
      <tr class="align-middle text-center">
        <th class="activities-col-name"></th>
        <th class="activities-col-period">7</th>
        <th class="activities-col-period">30</th>
        <th class="activities-col-period">{% now "Y" %}</th>
        <th class="activities-col-period">All</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for player_id, count in counters.items %}
        <tr class="align-middle text-center">
          <td>{{ count.user_name }}</td>
          {% if match_type == 'SINGIEL' %}
          <td>{{ count.single.period.7 }}</td>
          <td>{{ count.single.period.30 }}</td>
          <td>{{ count.single.period.this_year }}</td>
          <td>{{ count.single.period.all }}</td>
          {% else %}
          <td>{{ count.double.period.7 }}</td>
          <td>{{ count.double.period.30 }}</td>
          <td>{{ count.double.period.this_year }}</td>
          <td>{{ count.double.period.all }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>