{% extends 'tennis-club.html' %}

<!-- Dodatkowe CSS -->
{% block styles %}
<link rel="stylesheet" href="/static/css/results.css">
<link rel="stylesheet" href="/static/css/activities.css">
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-xl-2 g-4">  
  <div class="col">
    {% include 'home/activities_summary.html' with match_type='SINGIEL' %}
  </div>
  <div class="col">
    {% include 'home/activities_summary.html' with match_type='DEBEL' %}
  </div>
  <hr class="hr">
  <hr class="hr d-none d-xl-block">
  <div class="col">
    {% include 'matches/results/result_card.html' with matches=online_single card_title='online_single' page='activities'%}
  </div>
  <div class="col">
    {% include 'matches/results/result_card.html' with matches=online_double card_title='online_double' page='activities'%}
  </div>
</div>
{% endblock %}
